### JupyterNotebook ###                                                        
.ipynb_checkpoints                                                             
*/.ipynb_checkpoints/*

Get CC Events\.ipynb

events\.csv
